/* fonts */

@font-face {
    font-family: Monofil;
    src: url('../fonts/monofil/MonofilDemoRegular.ttf');
}

/* code */

.Cover {
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(270deg, #fba606, #f66d02);
}

.headings {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
}

p {
    font-size: 18px;
}

.cover-button {
    margin-top: 25px;
    padding: 13px 0px;
    background-color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.cover-button a {
    padding: 13px 30px;
    color: #f66d02;
    font-size: 16px;
}

.cover-button:hover {
    transition: 0.6s;
    border: 1px solid white;
    background-color: transparent;
}

.cover-button a:hover {
    color: white;
}

.BazgaImg {
    z-index: -1;
    width: 300px;
    height: 400px;
    position: relative;
    top: 30%;
    left: 50%;
}

.white-heading {
    color: white;
}

@media only screen and (max-width: 800px) {

    p {
        font-size: 16px;
    }

    button a {
        font-size: 14px;
    }

    .BazgaImg {
        width: 250px;
        height: 350px;
        top: 40%;
        left: 65%;
    }
}

@media only screen and (max-width: 500px) {

    .white-heading {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }

    button a {
        font-size: 12px;
    }

    .BazgaImg {
        width: 150px;
        height: 200px;
        top: 45%;
        left: 220px;
    }
}


@media only screen and (max-width: 350px) {

    .BazgaImg {
        width: 150px;
        height: 200px;
        top: 45%;
        left: 170px;
    }
}