/* fonts */

@font-face {
  font-family: Monofil;
  src: url("../fonts/monofil/MonofilDemoRegular.ttf");
}

/* code */

.FindMore {
  height: 100vh;
  width: 100%;
  position: relative;
}

.positioned {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: absolute;
}

#video {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}

#cenaslov {
  color: white;
}

#saznaj {
  padding: 13px 30px;
  background-color: white;
  border: 1px solid transparent;
  color: #f66d02;
  cursor: pointer;
  font-size: 16px;
}

#saznaj:hover {
  transition: 0.6s;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
