* {
    margin: 0 auto;
}

.Header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Louis George Cafe;
}

.logo img {
    padding: 10px 0px;
    width: 60px;
}

.links p {
    display: inline-block;
}

.links a,
.links p {
    margin-left: 15px;
    color: white;
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    .links p {
        display: none;
    }
}