/* fonts */

@font-face {
  font-family: Monofil;
  src: url("../fonts/monofil/MonofilDemoRegular.ttf");
}

/* code */

.Products {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.CedevitaaProducts {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 90%;
}

.Naranca {
  grid-area: 1 / 1 / 1 / 2;
  padding: 80px;
  margin: 0px 40px;
  background-image: linear-gradient(270deg, #fba606, #f66d02);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Limun {
  grid-area: 1 / 2 / 1 / 3;
  padding: 80px;
  margin: 0px 40px;
  background-image: linear-gradient(270deg, #f7fb06, #ffb62d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Bazga {
  grid-area: 1 / 3 / 1 / 4;
  padding: 80px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(270deg, #059eb9, #06d6fb);
}

@media only screen and (max-width: 800px) {
  .Naranca,
  .Limun,
  .Bazga {
    padding: 50px 20px;
    margin: 0px 8px;
  }
}

@media only screen and (max-width: 500px) {
  .Products {
    height: 100%;
    display: grid;
  }

  .CedevitaaProducts {
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: 100vh 100vh 100vh;
  }

  .Naranca {
    grid-area: 1 / 1 / 2 / 1;
    margin: 20px 60px;
    padding: 0px 50px;
  }

  .Limun {
    grid-area: 2 / 1 / 3 / 1;
    margin: 20px 60px;
    padding: 0px 50px;
  }

  .Bazga {
    grid-area: 3 / 1 / 4 / 1;
    margin: 20px 60px;
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 380px) {
  .Naranca {
    margin: 20px 70px;
  }

  .Limun {
    margin: 20px 70px;
  }

  .Bazga {
    margin: 20px 70px;
  }
}
