@font-face {
    font-family: Louis George Cafe;
    src: url('./Components/fonts/louis_george_caf/Louis\ George\ Cafe.ttf');
}

@font-face {
    font-family: Monofil;
    src: url('./Components/fonts/monofil/MonofilDemoRegular.ttf');
}

/* code */

* {
    margin: 0;
    font-family: Louis George Cafe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
   display: none;
}

::selection {
    color: white;
    background-color: #f66d02;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

h1 {
    font-size: 60px;
    font-family: Monofil;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 45px;
    }
}